<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 

    <head>
        <title>Registro de materias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body id="page-top" layout:fragment="body">
        </br>
        </br>
        </br>
        <div class="container">
            <center>
                <div><h1>Selección de materias</h1></div>
            </center>
            </br>
            </br>
            <center>
                <div class="col-md-5">
                    <div class="input-group mb-4">
                        <span class="bi bi-person-bounding-box"></span>
                        <select class="form-select" aria-label="Default select example">
                            <option value="0">Seleccione una materia</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group mb-4">
                        <span class="bi bi-person-bounding-box"></span>
                        <select class="form-select" aria-label="Default select example">
                            <option value="0">Seleccione un alumno</option>
                        </select>
                    </div>
                </div>
                <div>
                    <a class="col-md-3 btn btn-success">Agregar</a>
                </div>
            </center>
            </br>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Materia</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Suma total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
